.orginaltheme{

    background-color: #FFD61F;
}
#btn{

    border: 1px #ffd000 solid;
    background-color: #ffd000;

}

.checked{

    color: #ffd000;

}
.ciquen{

    background-color: #FFD61F;
}
